<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UpAndDow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServet</display-name>
    <servlet-name>UploadServet</servlet-name>
    <servlet-class>org.student.servlet.UploadServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServet</servlet-name>
    <url-pattern>/UploadServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServer</display-name>
    <servlet-name>DownloadServer</servlet-name>
    <servlet-class>org.student.servlet.DownloadServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServer</servlet-name>
    <url-pattern>/DownloadServer</url-pattern>
  </servlet-mapping>
</web-app>